@import "~bootstrap/scss/bootstrap";

body {
    .container {
        .padding {
            padding: 100px 0;
        }
        .loginForm {
            width: 600px !important;
            margin: 0 auto;
        }
        #gmap {
            width: auto;
            height: 600px !important;
            margin: 0 auto;
        }
    }
}